/* Custom container */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.container-full {
  margin: 0 auto;
  width: 95%;
}
@font-face {
	font-family: raleway;
	src: url(../font/Raleway-Regular.ttf);
}
@font-face {
	font-family: amaticsc;
	src: url(../font/AmaticSC-Regular.ttf);
}
body {font-family: raleway;}
.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    line-height: 1;
}.navbar-default .navbar-nav>li>a {
    color: #000;
    padding: 8px 130px;
    margin: 7px 3px 0 3px ;
}.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background: #c1c1c1;
}.carousel-caption {padding-bottom: 30%;}
h1 {
    font-size: 64px;
}section#about {
    background: #f2e1e1;
    padding: 15px 0 60px 0px;
}section#about p i {
    line-height: 2;
    color: black;
    font-size: 16px;
}.text {margin: 40px 10px;}
.btn-default {
    background: #000;
    color: #fff;
    padding: 20px;
}#invited {
	background: url(../images/hoaCuoi3.jpg) no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	height: 650px;
	color: white;
}section#invited h1 {
    padding: 210px 0 0 0;
}section#wedding h1 {
	font-size: 40px;
	color:#757575
}section#wedding {
    background: #f2e1e1;
    padding: 10px;
}.thumbnail {
    background: #fdd;
    margin: 30px 0;
	border: 1px solid #b19898;
	padding-top: 20px;
}section#contact h2, section#contact h4 {letter-spacing: 5px;}
.btn-danger {
	background: #f88078;
	padding: 20px 60px;
}
.btn-success {padding: 20px 60px;}
section#contact h4 {padding: 20px 0;}
section#contact {
    background: #ffdddd;
    padding: 40px 0 50px 0;
}.inputCome {
	width: 90%;
	padding: 8px;
}footer {
    height: 100px;
    padding-top: 35px;
    background: black;
    color: #fff;
    margin: 20px 0 55px 0 ;
    font-family: amaticsc;
    letter-spacing: 3px;
}

 .page-header > .gradient-text {
     font-family: 'Poppins', sans-serif;
     font-size: 25vmin;
     line-height: 30vmin;
 }

.gradient-text {
    color: transparent;
    background: conic-gradient(
            #D9D7F1 12%,
            #BAABDA 12%, #BAABDA 33%,
            #E7FBBE 33%, #E7FBBE 55%,
            #FFCBCB 55%, #FFCBCB 70%,
            #B5DEFF 70%, #B5DEFF 87%,
            #F7D1BA 87%);
    background-size: 50%;
    background-clip: text;
    -webkit-background-clip: text;

    animation: expand-rev 0.5s ease forwards;

    cursor: pointer;
}

.gradient-text:hover {
    animation: expand 0.5s ease forwards;
}

@keyframes expand {
    0% {
        background-size: 50%;
        background-position: 0 0;
    }
    20% {
        background-size: 55%;
        background-position: 0 1em;
    }
    100% {
        background-size: 325%;
        background-position: -10em -4em;
    }
}

@keyframes expand-rev {
    0% {
        background-size: 325%;
        background-position: -10em -4em;
    }
    20% {
        background-size: 55%;
        background-position: 0 1em;
    }
    100% {
        background-size: 50%;
        background-position: 0 0;
    }
}